{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <a href="https://www.keralatourism.org/destination/nelliyampathy-hills-palakkad/152">
                <img src="{% static 'images/nelli.jpg' %}" class="img-fluid" alt="Nelliyampathy Hills">
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="https://www.keralatourism.org/related-destinations/idukki/dt3">
                <img src="{% static 'images/idi.jpg' %}" class="img-fluid" alt="Idukki">
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="https://www.keralatourism.org/destination/varkala-beach/328">
                <img src="{% static 'images/var.jpg' %}" class="img-fluid" alt="Varkala Beach">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <a href="https://www.keralatourism.org/video-gallery/illikkal-kallu-kottayam/1033">
                <img src="{% static 'images/ili.jpg' %}" class="img-fluid" alt="Illikkal Kallu Kottayam">
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="https://www.keralatourism.org/destination/attappad-palakkad/155">
                <img src="{% static 'images/ati.jpg' %}" class="img-fluid" alt="Attappad Palakkad">
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="https://www.keralatourism.org/kerala-article/2019/kodukuthimala/873">
                <img src="{% static 'images/kodi.jpg' %}" class="img-fluid" alt="Kodukuthimala">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <a href="https://www.keralatourism.org/destination/alappuzha-beach/60">
                <img src="{% static 'images/ali.jpg' %}" class="img-fluid" alt="Alappuzha Beach">
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="https://www.keralatourism.org/kerala-article/2019/kodukuthimala/873">
                <img src="{% static 'images/ashtu.jpg' %}" class="img-fluid" alt="Kodukuthimala">
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="https://www.keralatourism.org/kerala-article/2019/kodukuthimala/873">
                <img src="{% static 'images/bot.jpg' %}" class="img-fluid" alt="Kodukuthimala">
            </a>
        </div>
    </div>

    <footer>
        <p style="text-align: center; color: white;">&copy; 2023 Explore Kerala. All rights reserved.</p>
    </footer>
</div>

{% endblock %}
